<div class="w-[1200px] h-[800px] main rounded-3xl mx-auto mt-[50px] opacity-75">
    <div class="why ml-11 mr-11 pt-[50px]">
      <h1 class="pb-[20px] font-bold text-lg">Why Kudos ?</h1>
      <p>
        Studies from the field of psychology repeatedly confirm that intrinsically
        motivated employees are more engaged, perform better and are also more
        loyal to the company in the long term. The behavior of intrinsically
        motivated individuals arises from inner convictions and is not dependent
        on external promises. Nevertheless, many companies still increasingly rely
        on financial reward systems, which only trigger extrinsic motivation and
        can even extinguish intrinsic motivation. The Kudo feedback system is a
        great alternative to traditional approaches because it starts with
        intrinsic motivation. The results are clear - recognition is more
        effective, longer lasting and costs much less money. Kudos help you create
        an organizational environment where positive feedback and rewards are
        natural and continuous learning and improvement can take place.
      </p>
    </div>
    <div class="what mt-11 ml-11 mr-11">
      <h1 class="pb-[20px] font-bold text-lg">What exactly are Kudos?</h1>
      <p>
        Kudo comes from the Greek word “kydos,” which means glory and fame. Kudo
        cards are generally small, simple feedback cards that are collected in a
        box with a personal note of appreciation or gratitude for a particular
        colleague. From time to time, this kudo box is emptied, the cards are read
        aloud, and the individuals who received a card are celebrated together.
        This can happen once a day or once a week, and the implementation varies
        from company to company. Kudos are thus a written and public recognition
        of a colleague for something he or she has contributed. Peer feedback is a
        central element in the Kudo system, but Kudos can be sent in all
        directions and across teams, departments, and even organizations. Public
        recognition of accomplishments has special value because it lets everyone
        know what positive practices are appreciated and why.
      </p>
    </div>
    <div class="how mt-11 ml-11 mr-11">
      <h1 class="pb-[20px] font-bold text-lg">
        How can Agilibo’s KudoCloud serve you?
      </h1>
      <p>
        Even though a simple “thank you” often has a very lasting effect, many
        people do not find it easy to say it. With Kudo Cloud from Agilibo,
        acknowledging teammates and colleagues becomes a simple game, as positive
        feedback can be sent easily and quickly with just a few clicks from
        various applications in the Agilibo universe. The latest Kudos are
        celebrated by everyone directly on the Agilibo home page and on the public
        Kudo Cloud Dashboard all sent Kudos can be viewed at any time. In the
        Kudoboard Game, a random mechanism is used to pick a person from the last
        Kudo cards, who is additionally rewarded with a prize, e.g., a voucher for
        a meal or a bouquet of flowers. The game not only brings fun and variety,
        but also provides a further motivational boost. Agilibo has developed Kudo
        Cloud, a user-friendly, digital solution for using Kudos in the digital
        worlds of remote work, distributed teams and mobile work. Feedback has
        never been easier. Together with Agilibo’s other solutions, you’ll see
        your teams more motivated and happier to do their work. And you’ll see
        them complete sprints and projects even more successfully than you
        expected!
      </p>
    </div>
  </div>
  